<div class="container">
  <a href="javascript:void(0)" class="column1" backButton>
    < BACK
  </a>

  <!-- Signup button -->
  <ng-container *ngIf="(pageNumber$ | async)?.['step'] === 'login' ; else singupTemplate">
      <a
        role="presentation"
        class="ads-button-white"
        routerLinkActive="active"
        [state]="{ step: 'signup' }"
        (click)="onPageUp({step:'signup'})"
        [routerLink]="[
          '/',  {
          outlets: {
              outlet1: ['signup_2'],
              outlet2: ['signup_2'],
              outlet3: ['signup_2'],
              outlet4: ['signup_2'],
              outlet5: ['signup_2']
            }
          }
        ]"
      >Sign up</a>
  </ng-container>

  <!-- Login button -->
  <ng-template #singupTemplate>
    <a
      role="presentation"
      class="ads-button-transparent"
      routerLinkActive="active"
      [state]="{ step: 'login' }"
      (click)="onPageDown({step:'login'})"
      [routerLink]="[
          '/',  {
          outlets: {
              outlet1: ['login'],
              outlet2: ['login'],
              outlet3: ['login'],
              outlet4: ['login'],
              outlet5: ['login']
            }
          }
        ]"
    >Log in</a>
  </ng-template>

  <div class="column1">
    {{(pageNumber$ | async)?.['step']}}
  </div>

  <div class="column2"></div>
</div>
