<section>
  <button
    role="presentation"
    class="ads-button-white"
    routerLinkActive="active"
    [state]="{ step: 'signup' }"
    (click)="onPageUp({step:'signup'})"
    [routerLink]="[
    {
      outlets: {
        outlet1: ['signup'],
        outlet2: ['signup'],
        outlet3: ['signup'],
        outlet4: ['signup'],
        outlet5: ['signup']
      }
    }
  ]"
  >Sign up</button>

  <button
    role="presentation"
    class="ads-button-transparent"
    routerLinkActive="active"
    [state]="{ step: 'login' }"
    (click)="onPageDown({step:'login'})"
    [routerLink]="[
    {
      outlets: {
        outlet1: ['login'],
        outlet2: ['login'],
        outlet3: ['login'],
        outlet4: ['login'],
        outlet5: ['login']
      }
    }
  ]"
  >Log in</button>
</section>

<!--<small>{{(pageNumber$ | async)?.['step']}}</small>-->

<!--<p>-->
<!--  <small> {{ pageNumber$ | async | json }} </small>-->
<!--</p>-->


<!--<a-->
<!--  [routerLink]="[-->
<!--    {-->
<!--      outlets: {-->
<!--        outlet2: ['back'],-->
<!--        step3: ['back'],-->
<!--        step4: ['back']-->
<!--      }-->
<!--    }-->
<!--  ]"-->
<!--&gt;BACK -</a-->
<!--&gt;-->

<!--<a routerLink="">RESET -</a>-->

<!--<a [routerLink]="[{ outlets: { outlet1: ['forward'] } }]">HEADER -</a>-->

<!--<a [routerLink]="[{ outlets: { outlet2: ['forward'] } }]">NAVIGATION -</a>-->

<!--<a [routerLink]="[{ outlets: { step3: ['forward'] } }]">BODY -</a>-->

<!--<a [routerLink]="[{ outlets: { step4: ['forward'] } }]">RELATED_LINK -</a>-->

<!--<a-->
<!--  [routerLink]="[-->
<!--    {-->
<!--      outlets: {-->
<!--        outlet2: ['udpate'],-->
<!--        step3: ['udpate'],-->
<!--        step4: ['udpate']-->
<!--      }-->
<!--    }-->
<!--  ]"-->
<!--&gt;FORWARD -</a-->
<!--&gt;-->
