<button
  role="presentation"
  color="primary"
  class="ads-button-blue w100"
  routerLinkActive="active"
  [state]="{ step: 'login' }"
  [routerLink]="[
    '/',  {
    outlets: {
      outlet1: ['login'],
      outlet2: ['login'],
      outlet3: ['login'],
      outlet4: ['login'],
      outlet5: ['login']
      }
    }
  ]"
><p class="cl">{{(pageNumber$ | async)?.['step']}}</p></button>

<h3 class="tac mt15">or*</h3>

<button
  role="presentation"
  class="ads-button-transparent w100 mt15"
  routerLinkActive="active"
  [state]="{ step: 'loginApple' }"
  [routerLink]="[
    '/', {
      outlets: {
        outlet1: ['login'],
        outlet2: ['login'],
        outlet3: ['login'],
        outlet4: ['login'],
        outlet5: ['login']
      }
    }
  ]"
>
  <div style="width: 10px; height: 10px">
  <!-- image here -->
  </div>
  <p class="cl">{{(pageNumber$ | async)?.['step']}} with Apple</p>
</button>

<button
  role="presentation"
  class="ads-button-transparent w100 mt15"
  routerLinkActive="active"
  [state]="{ step: 'loginGoogle' }"
  [routerLink]="[
    '/', {
      outlets: {
        outlet1: ['login'],
        outlet2: ['login'],
        outlet3: ['login'],
        outlet4: ['login'],
        outlet5: ['login']
      }
    }
  ]"
>
  <div style="width: 10px; height: 10px">
  <!-- image here -->
  </div>
  <p class="cl">{{(pageNumber$ | async)?.['step']}} with Google</p>
</button>

<button
  role="presentation"
  class="ads-button-transparent w100 mt15"
  routerLinkActive="active"
  [state]="{ step: 'loginEmail' }"
  [routerLink]="[
    '/', {
      outlets: {
        outlet1: ['login'],
        outlet2: ['login'],
        outlet3: ['login'],
        outlet4: ['login'],
        outlet5: ['login']
      }
    }
  ]"
>
  <p class="cl">{{(pageNumber$ | async)?.['step']}} with Email</p>
</button>

<p class="mt15 p1 tal" *ngFor="let item of onBoardLogin$ | async">
  {{ item?.['disclaimer_title']  }}
</p>
<p class="p1 tal" *ngFor="let item of onBoardLogin$ | async">
  {{ item?.['disclaimer_subtitle']  }}
</p>


