<div class="container">

  <header>
    <router-outlet name="outlet1"></router-outlet>
  </header>

  <!-- dynamic content -->
  <nav>
    <router-outlet name="outlet2"></router-outlet>
  </nav>

  <main>
    <router-outlet name="outlet3"></router-outlet>
    <div class="parent-wrapper">
      <div class="child-wrapper" routerLink="">
        <logo></logo>
        <h1>{{ onboard$ | async }}</h1>
      </div>
    </div>
  </main>

  <aside>
    <router-outlet name="outlet4"></router-outlet>
  </aside>

  <!-- where to go next -->
  <footer>

    <ng-container *ngIf="appstate$ | async as data; else home">
      <div *ngIf="data">{{data | json}}</div>
    </ng-container>

    <ng-template #home >
      <footer-component></footer-component>
    </ng-template>

  </footer>

</div>

<!--<router-outlet></router-outlet>-->
<!--<a routerLink="">Home</a>-->
<!--<a routerLink="test">Main outlet nav</a>-->
<!--<a [routerLink]="[{ outlets: { header1: ['outlet1'], header2: ['outlet2'] } }]">Outlet Nav</a>-->



