<div class="container">

  <header>
    <ng-container *ngIf="(appstate$ | async)?.['step'] as headerData; else header">
<!--      <h1 class="tal">{{ headerData }}</h1>-->
      <router-outlet name="outlet1"></router-outlet>
    </ng-container>

    <ng-template #header>

    </ng-template>
  </header>

  <nav>
    <ng-container *ngIf="appstate$ | async as navData; else nav">
      <router-outlet name="outlet2"></router-outlet>
    </ng-container>

    <ng-template #nav>

    </ng-template>
  </nav>

  <main>
    <ng-container *ngIf="appstate$ | async as mainData; else main">
      <router-outlet name="outlet3"></router-outlet>
    </ng-container>

    <ng-template #main>
      <div class="parent-wrapper">
        <div class="child-wrapper" routerLink="">
          <logo></logo>

          <ng-container *ngFor="let item of onBoardingHome$ | async">
            {{ item.subtitle }}
          </ng-container>

        </div>
      </div>
    </ng-template>
  </main>

  <aside>
    <router-outlet name="outlet4"></router-outlet>
  </aside>

  <footer>
    <ng-container *ngIf="appstate$ | async as footerData; else footer">
      <router-outlet name="outlet5"></router-outlet>
    </ng-container>

    <ng-template #footer>
      <footer-component></footer-component>
    </ng-template>
  </footer>

</div>

