.wrapper {
  width: 560px;
}
.item {
  pointer-events: none;
  min-width: 200px;
  min-height: 200px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected-item {
  margin-top: 20px;
  text-align: center;
}
.selected-item-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.parent-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.child-wrapper {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 100px 0 0 -100px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
  }
}

header {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  border: 1px dotted #369;
  color: white;
}

main {
  flex: 1;
  padding: 20px;
}

nav {
  border: 1px dotted #f90;
  padding: 20px;
}

aside {
  padding: 20px;
  border: 1px dotted #936;
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  border: 1px dotted #690;
  color: #fff;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

.tal {
  text-align: left;
}
